/*! Public */
body { background:#e9eaec; }
footer { margin-top:20px; }


/*! index style */
.main_1 {background-color:#ffa900; margin-bottom:20px;}
.main_1_box { width:px; margin-top:50px; padding:10px 0px; height:px; }
.main_1_row { padding-bottom:15px;}
.main_1_row_box {@grid-gutter-width:10px; }
.main_1_title { padding:5px 0px; }
.main_1_img { padding-right:5px;}


.main_2 {-background-color:#f1f5f7;}
.main_2_L {background:#fff; padding:10px; }
.main_2_L h2.title {font-size:18px; padding-left:10px;  margin-top:0}
.main_2_R { padding-left:0px; padding-right:0px; background:#fff;}
.main_2_R_title { padding:20px 20px; margin-top:0px; margin-bottom:0px; background: #34495E; color: #fff;}
.main_2_R ul {margin-top:8px; padding: 10px 20px 18px 20px; }
.main_2_R ul li { list-style-type: none; padding: 5px 0; border-bottom: 1px solid #e9eaec;}
.media-right { display:table-cell; vertical-align:top;}
.timg img {margin-top:5px; margin-bottom:10px; width:250px;}
.tags { margin-top:8px; }
.tags a { display: inline-block; min-width: 10px; padding: 4px 8px; font-size: 14px; font-weight: 400;  line-height: 1; color: #7F8C8D; text-align: center; white-space: nowrap; vertical-align: middle; background-color: #fff; border-radius: 10px; border: 1px solid #7F8C8D; margin-right: 10px; }
.tags a:hover { color: #16a085; border: 1px solid #16a085;}
.tags a.pull-right { border:1px solid #fff; }
.glyphicon {top:2px;}



